<div>
  <h1>Hernani Nascimento</h1>

  <ul>
    <li>Tenho 48 anos</li>
    <li> Sou carioca </li>
    <li>Desejo trabalhar como programador. O processo e longo, exige abnegação!</li>
    <li> Estou aprendendo com o professor Celso. </li>
    <li>
      <a href="https://github.com/CelsoDeSa" target="_blank">
        GitHub
      </a>
    </li>
  </ul>
</div>
